#main-header {
	height: 500px;
	background: url('http://placehold.it/1000x500') no-repeat center;
}

.main-header-panel {
	padding: 10px;
	margin-top: 200px;
	margin-bottom: 25px;
	background: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.right-obj {
	float: right;
}

#main-content {
	margin-top: 50px;
}

.main-accordion-navigation > a {
	padding: 0px !important;
	background: #ffffff !important;
}

#main-footer {
	margin-top: 50px;
	bottom: 0px;
	background: #008cba;
}

#main-footer li {
	font-size: 75%;
	color: #ffffff;
	height: 50px;
	padding-top:15px;
}

#main-footer li.left {
	border-left: 1px solid rgba(255,255,255,0.2);
}
